<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.14" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.14" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Scriban" version="3.6.0" targetFramework="net48" />
  <package id="Sitecore.ContentSearch" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Data" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.ContentSearch.Linq" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.Mvc" version="10.3.1" targetFramework="net48" />
  <package id="Sitecore.XA.Feature.Maps" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Abstractions" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Geospatial" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Multisite" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Mvc" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Scriban" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Search" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.SitecoreExtensions" version="10.3.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Variants.Abstractions" version="10.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>